#offline {
	text-align: center;
	margin-top: 100px;
	font-family: Helvetica;
	font-size: 15px;
}

#offlineBG {
	position: absolute;
	top: 0;
	left: 0;
	width: 768px;
	height: 1024px;
	background-color: #fff; 
	background: url('img/pattern.png');
	background-repeat: repeat;
	background-color: #fff; 
	z-index: 1000;
}